# Virtual environment
venv/

# Compiled Python files
__pycache__/

# Log files
logs/

# Other user-specific or sensitive files
.env
.flaskenv
.env.*
.envrc
*.pyc
*.pyo
*.env
config.py

# Database file
app.db

# Migration files 
/migrations/
