# Virtual environment


# Compiled Python files
__pycache__/

# Log files
logs/

# Other user-specific or sensitive files
.env
.flaskenv
.env.*
.envrc
*.pyc
*.pyo
*.env
config.py

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo
messages.pot
babel.cfg
app

# Database file
app.db

# Migration files 
/migrations/
